{
    "extends": ["airbnb", "airbnb-typescript", "prettier"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        // "object-curly-newline": [
        //     "error",
        //     {
        //         "ObjectExpression": "always",
        //         "ObjectPattern": { "multiline": true },
        //         "ImportDeclaration": "never",
        //         "ExportDeclaration": { "multiline": true, "minProperties": 3 }
        //     }
        // ]
    }
}
